#https://clang-format-configurator.site/

BasedOnStyle: LLVM

BreakBeforeBraces: Allman
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never

PointerAlignment: Left

AccessModifierOffset: -4

AlignAfterOpenBracket: AlwaysBreak

AllowShortFunctionsOnASingleLine: InlineOnly
#AllowShortLambdasOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: OnePerLine
BinPackArguments: false

IndentCaseLabels: true

PackConstructorInitializers: CurrentLine

AlignTrailingComments: Leave
